<div class="container">
  <%= simple_form_for(@car) do |f| %>
    <% if car.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

        <ul>
          <% car.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.input :title, :input_html => {:style=> 'width: 700px'} %>
    </div>

    <div class="field">
      <div class="form-group car_make_ids">
        <label class="" for="car_description">Description</label><br>
        <%= f.cktext_area :description %>
      </div>
    </div>

    <div class="field">
      <div class="form-group car_make_ids">
        <label class="" for="car_make_ids">Select Makes</label><br>
        <%= f.collection_select :make_ids, Make.all, :id, :name, {}, {multiple:true, class: "select2", :style=> 'width: 700px'} %>
      </div>
    </div>

    <div class="field">
      <%= f.input :model, :input_html => {:style=> 'width: 700px'} %>
    </div>

    <div class="field">
      <%= f.input :price, :input_html => {:style=> 'width: 700px'} %>
    </div>

    <div class="field">
      <%= f.input :year, :input_html => {:style=> 'width: 700px'} %>
    </div>

    <div class="field">
      <%= f.input :color, :input_html => {:style=> 'width: 700px'} %>
    </div>

    <div class="field">
      <%= f.input :miles, :input_html => {:style=> 'width: 700px'} %>
    </div>

    <div class="field">
      <div class="form-group car_state_ids">
        <label class="" for="car_state_ids">Select State</label><br>
        <%= f.collection_select :state_ids, State.all, :id, :state, {}, {multiple:true, class: "select2", :style=> 'width: 700px'} %>
      </div>
    </div>

    <div class="field">
      <%= f.file_field :thumbnail %>
    </div>

    <div class="field">
      <%= f.file_field :images, multiple: true %>
    </div>

    <div class="field">
      <%= "Feature Car?" %>
      <%= f.check_box :feature %>
      <%= "($25)" %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
