<div class="search-container">
    <%= form_tag(cars_search_path, remote: true) do %>
    <div class="field">
        <%= label_tag :make, "Make: " %>

        <%= select_tag :make, options_from_collection_for_select(
            @makes.to_a.unshift(Make.new(id: 0, name: "All")),
            "name",
            "name",
            "0") %>
        <%= label_tag :order, "Order" %>
        <%= select_tag :order, options_for_select([
        "A-Z",
        "Z-A",
        "Highest Priced First",
        "Lowest Priced First",
        "Newest First",
        "Oldest First"
    ]), {include_blank: "Order"} %>
        <%= submit_tag "Search" %>
    </div>
    <% end %>
</div>


<div id="makes">
    <%= render 'cars/makes' %>
</div>

<div id="makes">
    <%= render 'cars/feature' %>
</div>
