<div class="container">
    <div class="row">
        <div class="col-4">
            <%= image_tag(@car.thumbnail, class:'img-fluid') if @car.thumbnail.attached? %>
            <div class="row">
                <div class="col-12">
                    <h4>
                        Are You Interested?
                    </h4>
                </div>
                <div class="col-12">
                    <h5>
                        <div id="like-count">
                            <%= render 'cars/likes', car: @car %>
                        </div>
                        <div id="like-link">
                            <%= render 'cars/like_link', car: @car %>
                        </div>
                        <hr />
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h6>
                        Message Owner
                    </h6>
                </div>
                <% @car.makes.each do |make| %>
                <div class="col-6">
                    <%= link_to make.name, root_path(make: make.name) %>
                </div>
                <% end %>
                <div class="col-12">
                    <% if current_user&.admin %>
                    <div class="btn-group">
                        <%= link_to 'Edit', edit_car_path(@car), class: 'btn btn-warning' %>
                        <%= link_to 'Delete', @car, method: :delete, class: 'btn btn-danger' %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h1>
                <% if params[:make].nil? %>
                <%= link_to @car.title, root_path %>
                <% else %>
                <%= link_to @car.title, root_path(make: params[:make], order: params[:order]) %>
                <% end %>
            </h1>
            <div class="container">
                <%= @car.description %>
            </div>
        </div>
    </div>
</div>
<p id="notice"><%= notice %></p>
<%= image_tag(@car.resized_thumbnail) if @car.thumbnail.attached? %>
<p>
  <strong>Title:</strong>
  <%= @car.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Make:</strong>
  <% @car.makes.each do |make| %>
  <%= link_to make.name, cars_path(make: make.name) %>
  <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Miles:</strong>
  <%= @car.miles %>
</p>

<p>
  <strong>State:</strong>
  <% @car.states.each do |state| %>
  <%= link_to state.state, cars_path(state: state.state) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
