<div class="container">
    <div class="row">
        <div class="col-4">
            <%= image_tag(@car.thumbnail, class:'img-fluid') if @car.thumbnail.attached? %>
            <div class="row">
                <div class="col-12">
                    <h4>
                        Are You Interested?
                    </h4>
                </div>
                <div class="col-12">
                    <h5>
                        <div id="like-count">
                            <%= render 'cars/likes', car: @car %>
                        </div>
                        <div id="like-link">
                            <%= render 'cars/like_link', car: @car %>
                        </div>
                        <hr />
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h6>
                       <button type="button" class="btn btn-outline-primary">Message Owner</button>
                    </h6>
                </div>
                <div class="col-6">
                </div>
                <div class="col-12">
                  <% if current_user&.admin %>
                  <div class="btn-group">
                      <%= link_to 'Edit', edit_car_path(@car), class: 'btn btn-warning' %>
                      <%= link_to 'Delete', @car, method: :delete, class: 'btn btn-danger' %>
                  </div>
                  <% end %>
                  <p>
                  <h4>Car's Location</h4>
                  <strong>State:</strong> <% @car.states.each do |state| %>
                  <%= link_to state.state, root_path(state: state.state) %>
                  <% end %>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h1>
                <% if params[:make].nil? %>
                <%= link_to @car.title, root_path %>
                <% else %>
                <%= link_to @car.title, root_path(make: params[:make], order: params[:order]) %>
                <% end %>
            </h1>
            <div class="container">
                <%= @car.description %>
                <p>
                <div class="table-responsive-sm">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Year</th>
                        <th scope="col">Color</th>
                        <th scope="col">Miles</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><% @car.makes.each do |make| %>
                        <%= link_to make.name, cars_path(make: make.name) %>
                        <% end %></th>
                        <td><%= @car.model %></td>
                        <td><%= @car.year %></td>
                        <td><%= @car.color %></td>
                        <td><%= @car.miles %></td>
                        <td><%= @car.price %></td>
                      </tr>
                    </body>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
<div class="container">
  <h3>Photos</h3>
  <% (0...@car.images.count).each do |image| %>
                    <%= image_tag(@car.manyimage(image)) %>
                    <% end %>
</div>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
